body {
    background-color: rgb(236, 236, 236);
}

.navbar-brand img {
    width: 5rem;
}

.bgp-light {
    background-color: white !important;
}

#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
