@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

body {
    /* background-color: rgba(236, 236, 236, 0.151); */
    background-color: black;
    font-size: 13px;
    font-family: "lato",sans-serif;
}

.body-bg {
    height: 99vh;
}

.title {
    position: absolute;
    z-index: 7;
    left: 7rem;
    margin-top: 7rem;
    padding: 0;
}

.header {
    background-color: black;
}

.descruption p {
    color: black;
    font-size: 17px;
}

.descruption {
    width: 58%;
    background-color: white;
    padding: 20px;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
}

.title h4 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-family: "lato",sans-serif;
}

.title h1 {
    font-size: 6rem;
    font-family: 'cocogoose', sans-serif;
    /* color: var(--seconderyColor); */
    background-image: url("/Components/Pages/Assets/main.jpeg");
    background-size: cover;
    background-position: cover;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title h3 {
    color: white;
}

.prod-year h3 {
    margin-top: 3rem;
    font-family: 'cocogoose', sans-serif;
}

.prod-year p {
    color: rgb(211, 211, 211);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

#background-video {
   position: absolute;
   right: 0;
   top: 0;
   height: auto;
   width: 100%;
   z-index: -1;
}

.navbar-brand img {
    width: 5rem;
}

.bgp-light {
    background-color: white !important;
}

.programs-class {
    background-image: url("/Components/Pages/Assets/hit-bg.png");
    padding: 3rem 10px;
}

h4 {
    color: #EC5242;
}

.progra-section div img {
    width: 50%;
}

.ptners-logo:hover {
    transform: rotate(360deg);
    transition: all 1s;
    cursor: pointer;
}

@media (min-width:768px) and (max-width:992px){
    .progra-section div h4 {
        font-size: 10px;
    }

    .progra-section p {
        font-size: 10px;
    }

    .descruption p {
    font-size: 11px;
    }

    .prod-year h3 {
    margin-top: 2rem;
    font-family: 'cocogoose', sans-serif;
    }

    .section-project {
        padding: 1px !important;
    }

    .speakers-section img {
        width: 60%;
    }

    .text-speakers img {
        margin: 0;
        padding: 0;
    }

    .text-speakers h4 {
        font-size: 10px;
    }

    .speakers-section img {
        width: 10rem !important;
        height: 12rem !important;
    }

    .text-speakers span {
        font-size: 6px;
        font-style: normal !important;
    }

    .text-speakers p {
        font-size: 10px;
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width:768px){
    .logo-container {
        display: none;
    }

    .progra-section {
        display: flex;
        padding: 10px;
    }
    .progra-section p {
        text-align: left;
    }

    .partners-section {
        display: flex;
        justify-content: center;
    }

    .partners-section div img {
        width: 10rem !important;
    }

    .programs-container {
        margin: 20px !important;
    }

    .params {
        padding: 20px;
    }

    .img-section {
        padding-top: 20px;
    }
}

@media (min-aspect-ratio:16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
    
}
@media (max-aspect-ratio:16/9) {
    #background-video {
        width: 100%;
        height: auto;
    }
    
}
